---
import { Picture } from '@astrojs/image/components';
import type { Image } from '../domain/getIndexImages';
import PhotoCol from './PhotoCol.astro';

export type Props = {
  photos: Image[];
}

const photos = (Astro.props as Props).photos;
const col1 = photos.filter((_, index) => index % 3 === 0);
const col2 = photos.filter((_, index) => index % 3 === 1);
const col3 = photos.filter((_, index) => index % 3 === 2);
---
<div class="flex flex-col md:flex-row gap-3">
  <PhotoCol col={col1} />
  <PhotoCol col={col2} />
  <PhotoCol col={col3} />
</div>
